/* font sizes and colours */

html {
    font-family: "Atkinson Hyperlegible", sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
  }
  
  main {
    max-width: 1400px;
    margin: 0 auto;
    /* font-size: calc(2 * var(--base-font-size)); */
  }
  
  body {
    background-color: #dddab4;
  }

  svg {
    display: block;
    margin: 0 auto;
    fill: currentColor;
    max-width: 100%;
  }
  
  .heading,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto Serif Variable", sans-serif;
  }
  
  h1 {
    margin-top: 30px;
    font-size: 96px;
    font-weight: bold;
    line-height: 100%;
  }
  p {
    line-height: 145%;
  }
  
  a {
    color: currentColor;
    position: relative;
    padding: 4px;
    transition: all 150ms linear;
    font-weight: 600;
  } 

  button {
    font-size: 20px;
    background-color: #a2a98a;
    padding: 12px 28px;
    border-radius: 12px;
    margin: 15px;
  }
  button:hover {
    background-color: #a9614e; 
}

  #form {
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #dddab4;
      border-radius: 4px;
      resize: vertical;
    }
    
    label {
      padding: 12px 12px 12px 0;
      display: inline-block;
    }
    
    input[type=submit] {
      background-color: #dddab4;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
    }
    
    .container {
      border-radius: 5px;
      background-color: #dddab4;
      padding: 20px;
    }
    
    .col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
    }
    
    .col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
    }
    
    /* Clear floats after the columns */
    .row::after {
      content: "";
      display: table;
      clear: both;
    }
    
  }

  form div {
      border-radius: 5px;
      background-color: #dddab4;
      padding: 20px;
  }

/* media queries */
  @media (min-width: 769px) {

}