/* font sizes and colours */

html {
    font-family: "Atkinson Hyperlegible", sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
  }
  
  main {
    max-width: 1400px;
    margin: 0 auto;
    /* font-size: calc(2 * var(--base-font-size)); */
  }
  
  body {
    background-color: #dddab4;
  }

  svg {
    display: block;
    margin: 0 auto;
    fill: currentColor;
    max-width: 100%;
  }
  
  .heading,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto Serif Variable", sans-serif;
  }
  
  h1 {
    margin-top: 30px;
    font-size: 96px;
    font-weight: bold;
    line-height: 100%;
  }
  p {
    line-height: 145%;
  }
  
  a {
    color: currentColor;
    position: relative;
    padding: 4px;
    transition: all 150ms linear;
    font-weight: 600;
  
    /* this might break your code */
    /* &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      height: 100%;
      width: 100%;
      background-color: var(--text-color);
      transform-origin: right;
      transition: all 100ms linear;
      transform: scalex(0);
      z-index: -1;
    }
    &:hover,
    &:focus {
      color: var(--bg-color);
      &::after {
        transform: none;
      }
    }*/

  } 

  button {
    font-size: 20px;
    background-color: #a2a98a;
    padding: 12px 28px;
    border-radius: 12px;
    margin: 15px;
  }
  button:hover {
    background-color: #a9614e; 
}

/* media queries */
/* @media (min-width: 769px) {
  header {
  height: 70px;
  }
 
  nav {
  float: right;
  }
 
  #hero {
  padding: 50px;
  height: 50vh;
  }
 
  #header-text {
  width: 60%;
  }
 
  .column {
  padding: 2%;
  }
 
  #columns {
     flex-direction: row;
  }

  #column-1, #column-3 {
  width: 33%;
  }
 
  #column-2 {
  /* width: 34%;
  }
 
  h1 {
  font-size: 2.5rem;
  }
  } */ 