#project-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 10px;
    row-gap: 10px;
    }
    
#hero {
    width: 100%;
    object-fit: cover;
}

@media (min-width: 769px) {

#hero {
    /* height: 50vh; */
    object-fit: cover;
    }

}